<settings>
  <servers>
    <server>
      <id>releasedeployment</id>
      <username>admin</username>
      <password>lookon</password>
    </server>
  </servers>
  <servers>
    <server>
      <id>snapdeployment</id>
      <username>admin</username>
      <password>lookon</password>
    </server>
  </servers>
</settings>
